*{
    box-sizing: border-box;
}
:root{
--header-bg:#10375C;
}
html{
    font-size: 62.5%;
}
body{
  font-family: "Sora", sans-serif;
  font-style: normal;
    font-size: 1.6rem;
}
.container{
    max-width: calc(100% - 48px);
    width: 1170px;
    margin: 0 auto;
}
.header{
    padding-top: 30px;
    background:var(--header-bg);
    min-height: 100vh;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.navbar__list{
display: flex;
}
.action__login,.navbar__link{
    padding: 8px 21px;
color: #C9D2DA;
text-align: center;
font-size: 1.6rem;
font-style: normal;
font-weight: 300;
line-height: 2.8rem;
}
.navbar__link--active{
    color: #FFF;
font-weight: 400;
}
.navbar__link--active::before{
    content: "";
    display: inline-block; 
    /* để nhận kích thước */
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    top: -3px;
    left: -8px;
    position: relative;
}
.btn{
    color: #FFF;
text-align: center;
font-size: 1.8rem;
font-weight: 400;
line-height: 3.0rem; 
    min-width: 205px;
    line-height: 60px;
    display: inline-block;
    border-radius: 999px;
background: #2E80CE;
}
.action__signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}
.action__login{
    margin-right: 7px;
}
/* =================================HERO==================================== */
.hero{
    display: flex;
    padding-top: 76px;
    align-items: center;
}
.hero__content{
    width: 44%;
}
.hero__media{
    flex: 1;
}
.hero__heading{
    color: #FFF;
font-size: 7rem;
font-style: normal;
font-weight: 600;
line-height: 8rem;
letter-spacing: -1.4px;
}
.hero__desc{
   margin-top: 22px;
    color: #C9D2DA;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 3rem;
}
.hero__row{
    align-items: center;
    display: flex;
    column-gap: 38px;
    margin-top: 38px;
}
.hero__phone{
    color: #FFF;
text-align: center;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 3rem,; /* 166.667% */
}
.hero__img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
     object-fit: cover;
}
.hero__img.hero__img--large{
    margin-right: -6px;
    z-index: 1;
    width: 330px;
height: 540px;
border-radius: 6px;

}
.hero__img.hero__img--small{
    width: 210px;
height: 410px;
border-radius: 6px;
}