*{
    box-sizing: border-box;
}
:root{
--header-bg:#10375C;
}
html{
    font-size: 62.5%;
}
body{
  font-family: "Sora", sans-serif;
  font-style: normal;
    font-size: 1.6rem;
}
.container{
    max-width: calc(100% - 48px);
    width: 1170px;
    margin: 0 auto;
}
.header{
    padding-top: 30px;
    background:var(--header-bg);
    min-height: 100vh;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.navbar__list{
display: flex;
}
.action__login,.navbar__link{
    padding: 8px 21px;
color: #C9D2DA;
text-align: center;
font-size: 1.6rem;
font-style: normal;
font-weight: 300;
line-height: 2.8rem;
}
.navbar__link--active{
    color: #FFF;
font-weight: 400;
}
.navbar__link--active::before{
    content: "";
    display: inline-block; 
    /* để nhận kích thước */
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    top: -3px;
    left: -8px;
    position: relative;
}
.btn{
    color: #FFF;
text-align: center;
font-size: 1.8rem;
font-weight: 400;
line-height: 3.0rem; 
    min-width: 205px;
    line-height: 60px;
    display: inline-block;
    border-radius: 999px;
background: #2E80CE;
}
.action__signup{
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}
.action__login{
    margin-right: 7px;
}